.profContainer {
    margin-top: 110px;
    display:  flex;
    justify-content: center;
    /* align-items: center; */
}

.profile {
    /* border: 1px solid silver; */
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
    border-radius: 40px;
    padding: 40px;
    width: 270px;
    /* width: fit-content;
    height: fit-content; */
    background-color: #eeeeee;
}

.profile p {
    text-align: left;
    margin-bottom: 5px;
    color: rgb(85, 85, 85);
    font-size: 1rem;
    font-weight: bold;
}